@font-face {
    font-family: 'Trebuchet';
    src: url(/public/fonts/trebuchetms.ttf);
}

.cat-card {
    height: 480px;
    width: 320px;
    background-color: white;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    position: relative;
}

.cat-card__info {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Trebuchet', sans-serif;
}

.cat-card__preheader{
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 21px;
}

.cat-card__header{
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    margin-top: 5px;
}

.cat-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.cat-card__quantity {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    margin-top: 15px;
}

.cat-card__prise{
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.cat-card__customer{
    font-weight: 400;
    font-size: 14px;
    color: #666666;
}

.cat-card__value {
    background-color: #1698D9;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

.cat-card__value-number {
    padding-top: 10px;
    padding-bottom: 0;
    font-family: 'Trebuchet';
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.cat-card__weight {
    color: #FFFFFF;
    display: block;
    width: initial;
    margin: 0;
    padding-bottom: 8px;
    font-family: 'Trebuchet';
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.cat-card__shadow-container {
    background-color: #1698D9;
    width: 320px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
    padding: 4px;
}

.cat-card__shadow-container:hover {
    background-color: #2EA8E6;
}

.cat-card__footer {
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Trebuchet', sans-serif;
}

.footer-text {
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Trebuchet', sans-serif;
    text-align: center;
    margin-top: 14px;
}