@font-face {
  font-family: 'Exo';
  src: url(/public/fonts/Exo2.0-Thin.otf);
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/public/img/Pattern.svg);
  background-size: 100%;
}

.header {
  font-family: 'Exo';
  font-size: 36px;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 24px;
}

.test-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}