/* @font-face {
  font-family: "Exo";
  src: url(../public/fonts/Exo2.0-Thin.otf);
}

body {
  margin: 0;
  font-family: 'Exo',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../public/img/Pattern.svg) no-repeat;
  background-size: 100%;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
